body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header_logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.header_nav-item {
    margin-right: 1rem;
    text-decoration: none;
    list-style: none;

}

.header_nav-link {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
  
}

.logo {
    width: 280px;
    display: block;
}

.footer-logo {
    width: 100px;
    display: block;
}

.main {
    padding: 2rem 4rem;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 4rem;
    text-align: center;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-log-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 200px;
    display: block;
}

.description {
    font-size: 1rem;
    font-weight: 500;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.pagination-link {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.pagination-link:hover {
    color: blue;
}

.horizontal-rule {
    border: 1px solid black;
    width: 50%;
    margin: 1rem auto;
    opacity: 0.1;
}

.home-heading {
    display: none;
}

.tool-container {
    display: flex;
}

.upload-container {
    width: 35%;
}

.output-container {
    width: 65%;
}

.upload-preview-image {
    display: block;
    width: 30%;
    border: 1px solid #333;
}

.preview-image-container {
    padding: 5px;
    margin: 10px 0px;
    border-left: 10px solid #5cb6f9;
}

.output-container-buttons-div button {
    float: right;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.output-container textarea {
    width: 100%;
    height: auto;
    border: none;
    resize: none;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    border-radius: 5px;

}

.upload-preview button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.blog-intro {
    display: flex;
}

.blog-cover {
    width: 30%;
}

.blog-cover img {
    width: 100%;
    height: auto;
}

.blog-excerpt {
    width: 70%;
    padding: 0 20px;
}

.guidelines-container {
    display: flex;
}

.guidelines-container div {
    width: 33.33%;
    padding: 0px 20px 0px 0px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.call-to-action .btn {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;

}

.call-to-action h2, .btn {
    margin: 5px 20px;
}

.contact-container {
    display: flex;
}

.contact-info {
    width: 35%;
}

.contact-form {
    width: 65%;
    
}

.contact-form form {
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #333;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 0px;
}

.contact-us-heading {
    margin-bottom: 0rem;
    display: none;

}